@model Sistema_Inventario.Models.Categoria
@{
    ViewData["Title"] = "Details";
}

<div class="text-center">
    <h4> Detalles categoria<i class="bi bi-info-square mx-3"></i></h4>
    <hr />
</div>
<div class="container">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.Id)
                </td>
            </tr>
            <tr>
                <th class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.Nombre)
                </td>
            </tr>
            <tr>
                <th class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.Descripcion)
                </td>
            </tr>
        </tbody>
    </table>
</div>